Binaries
DerivedDataCache
Intermediate
Saved
Source
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/*
!Content/Actors
!Content/Scenes
!Content/Fonts
!Content/Structs
!Content/LevelData
!Content/UIAndWidgets
!Content/TopDown
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
Plugins/*/Binaries/*
# Built data for maps
*_BuiltData.uasset